header {
  padding: 35px 0 45px;
}

.desc__main {
  font-weight: 800;
  margin-bottom: 24px;
  padding: 0 20px;
  font-size: 3.2rem;
}

.desc__sub {
  margin-bottom: 80px;
  padding: 0 20px;
  font-size: 1.4rem;
}

.ticket {
  max-width: 580px;
  padding-bottom: max(10px, calc(580px * 0.46333));
}

.ticket__conference {
  top: 28px;
  left: 20px;
  gap: 14px;
  margin-bottom: 32px;
}

.ticket__conference__info h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 14px;
}

.ticket__conference__info time {
  font-size: 1.2rem;
}

.ticket__user {
  bottom: 28px;
  left: 20px;
  gap: 16px;
}

.ticket__user__avatar {
  width: 72px;
  height: 72px;
}

.ticket__user__info__name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.ticket__user__info__contact {
  gap: 4px;
}

.ticket__user__info__contact__email {
  font-size: 1.2rem;
}

.ticket__color {
  font-size: 1.6rem;
  right: 12px;
  transform: rotate(90deg) translate(-18%, 0);
}
