header {
  padding: 35px 0 45px;
}

main {
  font-size: 2rem;
  padding: 0 20px;
}

.desc__main {
  font-weight: 800;
  margin-bottom: 24px;
  padding: 0 20px;
  font-size: 1.6rem;
}

.desc__sub {
  margin-bottom: 80px;
  padding: 0 20px;
  font-size: 1.4rem;
}

.ticket {
  max-width: 375px;
  padding-bottom: max(10px, calc(375px * 0.46333));
}

.ticket__conference {
  top: 14px;
  left: 14px;
  gap: 14px;
  margin-bottom: 32px;
}

.ticket__conference__info h2 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.ticket__conference__info time {
  font-size: 1rem;
}

.ticket__user {
  bottom: 14px;
  left: 14px;
  gap: 16px;
}

.ticket__user__avatar {
  width: 56px;
  height: 56px;
}

.ticket__user__info__name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.ticket__user__info__contact {
  gap: 4px;
}

.ticket__user__info__contact__email {
  font-size: 1rem;
}

.ticket__color {
  font-size: 1.4rem;
  right: 0;
  transform: rotate(90deg) translate(-18%, 0);
}
