header {
  padding: 45px 0 55px;
}

main {
  padding: 0 20px;
}

.desc__main {
  margin-bottom: 24px;
  font-size: 3.2rem;
}

.desc__sub {
  margin-bottom: 36px;
}

.register-form {
  gap: 24px;
  max-width: 440px;
  margin: 0 auto 80px;
}

.register-form__label {
  margin-bottom: 16px;
}

.register-form__avatar__upload {
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 10px;
}

.register-form__avatar__upload__icon {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  margin: 0 auto 14px;
}

.register-form__avatar__upload__guide {
  font-size: 0.9rem;
}

.register-form__avatar__notice {
  gap: 4px;
  font-size: 0.6rem;
}

.register-form__avatar__notice img {
  width: 16px;
  height: 16px;
}

.register-form__name input[type="text"],
.register-form__email input[type="text"],
.register-form__github-username input[type="text"] {
  padding: 10px 14px;
  border-radius: 8px;
}

.register-form__submit button {
  padding: 20px;
  border-radius: 12px;
  font-size: 1.15rem;
}
