:root {
  --color-scissors-gradient-start: hsl(39, 89%, 49%);
  --color-scissors-gradient-end: hsl(40, 84%, 53%);
  --color-paper-gradient-start: hsl(230, 89%, 62%);
  --color-paper-gradient-end: hsl(230, 89%, 65%);
  --color-rock-gradient-start: hsl(349, 71%, 52%);
  --color-rock-gradient-end: hsl(349, 70%, 56%);
  --color-lizard-gradient-start: hsl(261, 73%, 60%);
  --color-lizard-gradient-end: hsl(261, 72%, 63%);
  --color-spock-gradient-start: hsl(189, 59%, 53%);
  --color-spock-gradient-end: hsl(189, 58%, 57%);
  --color-background-gradient-start: hsl(214, 47%, 23%);
  --color-background-gradient-end: hsl(237, 49%, 15%);
  --color-dark-text: hsl(229, 25%, 31%);
  --color-score-text: hsl(229, 64%, 46%);
  --color-header-outline: hsl(217, 16%, 45%);
  --font-weight-600: 600;
  --font-weight-700: 700;
}

body {
  font-family: "Barlow Semi Condensed", serif;
  font-size: 16px;
  background: linear-gradient(
    to bottom,
    var(--color-background-gradient-start),
    var(--color-background-gradient-end)
  );
  min-height: 100vh;
}
