main {
  gap: 24px;
  padding: 24px 18px;
  display: grid;
  grid-template-rows: auto;
}

section {
  border-radius: 12px;
}

.font-style--italic {
  font-style: italic;
}

.five-stars {
  background-color: var(--color-purple-500);
  color: var(--color-white);
  text-align: center;
}

.five-stars--highlight {
  color: var(--color-yellow-500);
}

.five-stars p {
  font-weight: 400;
  color: var(--color-purple-100);
}

.multiple-platforms {
  background-color: var(--color-white);
}

.consistent-schedule {
  position: relative;
  background-color: var(--color-yellow-500);
  overflow: hidden;
}

.schedule-posts {
  display: flex;
  flex-direction: column;
  background-color: var(--color-purple-100);
}

.audience-growth {
  background-color: var(--color-purple-500);
  color: var(--color-white);
}

.grow-followers {
  background-color: var(--color-white);
}

.create-post {
  background-color: var(--color-yellow-100);
}

.create-post--highlight {
  color: var(--color-purple-500);
  font-style: italic;
}

.ai-content {
  background-color: var(--color-yellow-500);
}
