main {
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
}

.five-stars {
  grid-column: 5 / 13;
  grid-row: 1 / 7;
  padding: 16% 10%;
}

.five-stars h2 {
  font-size: 4.2rem;
  margin-bottom: 5%;
}

.five-stars img {
  display: block;
  width: 60%;
  margin: 0 auto 5%;
}

.five-stars p {
  font-size: 1.6rem;
}

.multiple-platforms {
  grid-column: 5 / 9;
  grid-row: 7 / 12;
  overflow: hidden;
  padding: 10%;
}

.multiple-platforms img {
  width: 140%;
  max-width: initial;
  border-radius: 24px;
  margin-bottom: 5%;
}

.multiple-platforms h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

.consistent-schedule {
  grid-column: 9 / 13;
  grid-row: 7 / 12;
  padding: 10% 10% 0;
}

.consistent-schedule h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

.consistent-schedule img {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: -26%;
  top: initial;
}

.schedule-posts {
  grid-column: 13 / 18;
  grid-row: 1 / 12;
  padding: 12% 10%;
  gap: 24px;
  text-align: left;
  overflow: hidden;
}

.schedule-posts img {
  width: 200%;
  max-width: initial;
}

.schedule-posts h2 {
  font-size: 2rem;
  font-weight: 500;
}

.schedule-posts p {
  font-size: 1.4rem;
}

.audience-growth {
  grid-column: 9 / 18;
  grid-row: 12 / 17;
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 4%;
  text-align: left;
  align-items: center;
}

.audience-growth h2 {
  font-size: 2.4rem;
}

.audience-growth img {
  width: 50%;
}

.grow-followers {
  grid-column: 5 / 9;
  grid-row: 12 / 17;
  padding: 10% 7%;
}

.grow-followers img {
  width: 90%;
}

.grow-followers h2 {
  margin-bottom: 10%;
}

.grow-followers--highlight {
  font-size: 3.6rem;
}

.create-post {
  grid-column: 1 / 5;
  grid-row: 1 / 9;
  padding: 10%;
}

.create-post h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 10%;
}

.create-post img {
  width: 60%;
}

.ai-content {
  grid-column: 1 / 5;
  grid-row: 9 / 17;
  padding: 12% 10%;
}

.ai-content h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 22%;
}
