main {
  gap: 24px;
  padding: 24px 18px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
}

section {
  border-radius: 12px;
}

.five-stars {
  grid-column: 1 / 2;
  grid-row: 1;
}

.multiple-platforms {
  grid-column: 1 / 2;
  grid-row: 2;
}

.consistent-schedule {
  grid-column: 1 / 2;
  grid-row: 3;
}

.schedule-posts {
  grid-column: 1 / 2;
  grid-row: 4;
}

.audience-growth {
  grid-column: 1 / 2;
  grid-row: 5;
}

.grow-followers {
  grid-column: 1 / 2;
  grid-row: 6;
}

.create-post {
  grid-column: 1 / 2;
  grid-row: 7;
}

.ai-content {
  grid-column: 1 / 2;
  grid-row: 8;
}
