main {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
}

.five-stars {
  padding: 7%;
}

.five-stars h2 {
  font-size: 2rem;
  margin-bottom: 5%;
}

.five-stars img {
  display: block;
  width: 60%;
  margin: 0 auto 5%;
}

.multiple-platforms {
}

.multiple-platforms {
  padding: 7%;
}

.multiple-platforms img {
  margin-bottom: 5%;
  border-radius: 24px;
}

.multiple-platforms h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.consistent-schedule {
  padding: 5% 5% 0;
}

.consistent-schedule img {
  position: relative;
  top: 10%;
  width: 80%;
}

.consistent-schedule h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.schedule-posts {
  gap: 24px;
  padding: 7% 6%;
  text-align: center;
}

.schedule-posts h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.audience-growth {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 8% 16%;
  text-align: center;
}

.audience-growth h2 {
  font-size: 2rem;
}

.grow-followers {
  padding: 10% 7%;
}

.grow-followers h2 {
  margin-bottom: 10%;
}

.grow-followers--highlight {
  font-size: 2.4rem;
}

.grow-followers img {
  width: 55%;
}

.create-post {
  padding: 12% 10%;
}

.create-post h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10%;
}

.create-post img {
  width: 60%;
}

.ai-content {
  padding: 24px 18px;
}

.ai-content h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10%;
}
